footer {
  width: 100%;
  background-color: #361163; 
}

footer span {
  color: white;
  font-family: "DIN Round Web", sans-serif;
  display: inline-block;
  height: 100%;
  font-weight: 200;
}

footer img {
  height: 48px;
}