/* GLOBAL STYLES */
html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
    font-family: 'DIN Round Web';
    src: url('../public/fonts/DINRoundWeb.eot');
    src: url('../public/fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"), url('../public/fonts/DINRoundWeb.woff') format("woff"), url('../public/fonts/DINRoundWeb.ttf') format("truetype")
}
@font-face {
    font-family: 'DIN Round Web Medium';
    src: url('../public/fonts/DINRoundWeb-Medium.eot');
    src: url('../public/fonts/DINRoundWeb-Medium.eot?#iefix') format("embedded-opentype"), url('../public/fonts/DINRoundWeb-Medium.woff') format("woff"), url('../public/fonts/DINRoundWeb-Medium.ttf') format("truetype")
}

body {
  margin: 0;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif !important;
  background-color: #E5E4E4 !important;
  position: relative;
  padding-bottom: 5rem;
  min-height: 100%;
}

small.acknowledgment {
  font-size: 0.7rem;
  color: #121212;
}

li.acknowledgment {
  background-color: #efefef;
}

ul.list-group {
  padding-bottom: 2px;
  outline: none !important;
}

.paper {
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin: 0;
  margin-bottom: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.19);
}

.section-header-text {
    font-family: "DIN Round Web", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 0.1rem;
}

.list-group-item {
  border: none !important;
}
