/* GLOBAL STYLES */
html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'DIN Round Web';
    src: url('../public/fonts/DINRoundWeb.eot');
    src: url('../public/fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"), url('../public/fonts/DINRoundWeb.woff') format("woff"), url('../public/fonts/DINRoundWeb.ttf') format("truetype")
}
@font-face {
    font-family: 'DIN Round Web Medium';
    src: url('../public/fonts/DINRoundWeb-Medium.eot');
    src: url('../public/fonts/DINRoundWeb-Medium.eot?#iefix') format("embedded-opentype"), url('../public/fonts/DINRoundWeb-Medium.woff') format("woff"), url('../public/fonts/DINRoundWeb-Medium.ttf') format("truetype")
}

body {
  margin: 0;
  padding-top: 1rem;
  font-family: "Roboto", sans-serif !important;
  padding-bottom: 3rem;
}

.hoc {
  margin-bottom: 2rem;
}

.footer {
    background-image: url('../public/img/footer-x-small.jpg');
    background-color: #b70062;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
    padding-top: 30%;
}
@media (min-width: 400px) {
    .footer {
        padding-top: 26%;
        padding-bottom: -62px;
    }
}
@media (min-width: 600px) {
    .footer {
        background-image: url('../public/img/footer-small.jpg')
    }
}
@media (min-width: 760px) {
    .footer {
        background-image: url('../public/img/footer-mid.jpg');
        padding-top: 22%
    }
}
@media (min-width: 960px) {
    .footer {
        background-image: url('../public/img/footer-large.jpg')
    }
}
@media (min-width: 1200px) {
    .footer {
        background-image: url('../public/img/footer-full.jpg');
        padding-bottom: 5%
    }
}
@media (min-width: 1600px) {
    .footer {
        background-image: url('../public/img/footer-ultra-wide.jpg');
        padding-bottom: 5%
    }
}