/* GLOBAL STYLES */
/*
// html {
//   height: 100vh;
//   box-sizing: border-box;
// }
// 
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
*/

@font-face {
    font-family: 'DIN Round Web';
    src: url('./fonts/DINRoundWeb.eot');
    src: url('./fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"), url('./fonts/DINRoundWeb.woff') format("woff"), url('./fonts/DINRoundWeb.ttf') format("truetype")
}
@font-face {
    font-family: 'DIN Round Web Medium';
    src: url('./fonts/DINRoundWeb-Medium.eot');
    src: url('./fonts/DINRoundWeb-Medium.eot?#iefix') format("embedded-opentype"), url('./fonts/DINRoundWeb-Medium.woff') format("woff"), url('./fonts/DINRoundWeb-Medium.ttf') format("truetype")
}

body {
  margin: 0;
  padding-top: 1rem;
  font-family: "Roboto", sans-serif !important;
  padding-bottom: 3rem;
  min-height: 100%;
}

.hoc {
  margin-bottom: 2rem;
}

@media (min-width: 400px) {
}

@media (min-width: 600px) {
    footer {
        background-image: url('./img/footer-small.jpg')
    }
}
@media (min-width: 760px) {
    footer {
        background-image: url('./img/footer-mid.jpg');
    }
}
@media (min-width: 960px) {
    footer {
        background-image: url('./img/footer-large.jpg')
    }
}
@media (min-width: 1200px) {
    footer {
        background-image: url('./img/footer-full.jpg');
    }
}
@media (min-width: 1600px) {
    footer {
        background-image: url('./img/footer-ultra-wide.jpg');
    }
}